<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-md p-0">
            <a class="navbar-brand d-flex" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="56">
                    <g fill="none" fill-rule="evenodd">
                        <path stroke="#FFCC01" stroke-width="2"
                              d="M13 11h-3v34h3V11zm5 0v34h6V11h-6zM5 11H3v34h2V11zm24 0v34h8V11h-8z"/>
                    </g>
                </svg>
                <span class="text-logo align-self-center ml-3">
                    JUST SOME <br>
                    AWESOME LOGO
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class=" icon-menu">
                   	&#9776;
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav ">
                    <li class="nav-item d-flex align-items-center mr-lg-5">
                        <a class="nav-link menu-item" href="#">OUR ADVANTAGES</a>
                    </li>
                    <li class="nav-item d-flex align-items-center mr-lg-5">
                        <a class="nav-link menu-item" href="#">CONTACT US</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a class="btn button-sign" href="#">SIGN IN</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container mt-5">
        <div class="row m-0 justify-content-between align-items-center">
            <p class="header-text"><span class="header-text--yellow">Join Affiliates</span> and start earning money online
                by promoting products and services to your audience.</p>
            <form class="needs-validation header-form text-lg-center pb-3" novalidate>
                <p class="header-form__text m-0">Start earning right now</p>
                <div class="mb-3">
                    <input class="form-control m-auto header-form__input" id="customControlValidation1" placeholder="Login…" required>
                </div>
                <div class="mb-3">
                    <input class="form-control m-auto header-form__input" id="customControlValidation2" placeholder="Email…" required>
                </div>
                <div class="mb-3">
                    <input class="m-auto header-form__input" placeholder="Skype/phone…" required>
                </div>
                <div class="mb-3">
                    <input class="m-auto header-form__input"  placeholder="Individual or Business name" required>
                </div>
                <div class="mb-3">
                    <input class="m-auto header-form__input"  placeholder="Websites" required>
                </div>
                <div class="mb-3">
                    <textarea class="m-auto header-form__input header-form__input--area"  placeholder="Description(optional)" required></textarea>
                </div>
                <button class="btn m-auto header-form__buttton" type="submit">REGISTER</button>
            </form>
        </div>

    </div>
</div>
